@model UpdateProductVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Update Product</h4>
                        <p class="card-description">
                            Basic form elements
                        </p>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            @* <div class="form-group">
                            <label for="Photo" method="post">Photo</label>
                            <input asp-for="Photo" class="form-control" placeholder="Photo" accept="image/*">
                            <span asp-validation-for="Photo" class="text-danger"></span>
                            </div> *@
                            <div class="form-group">
                                <img src="~/assets/images/website-images/@Model.Images?.FirstOrDefault(i=>i.isPrimary==true)?.ImageURL" style="width:150px; height:150px" alt="Alternate Text" />
                                </div>
                            <div class="form-group">
                                <label for="MainPhoto" method="post">Main image</label>
                                <input asp-for="MainPhoto" class="form-control" placeholder="Name">
                                <span asp-validation-for="MainPhoto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <img src="~/assets/images/website-images/@Model.Images?.FirstOrDefault(i=>i.isPrimary==false)?.ImageURL" style="width:150px; height:150px" alt="Alternate Text" />

                            </div>
                            <div class="form-group">
                                <label for="HoverPhoto" method="post">Hover Image </label>
                                <input asp-for="HoverPhoto" class="form-control" placeholder="Name">
                                <span asp-validation-for="HoverPhoto" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:flex">
                                @if( Model.Images is not null)
                                @foreach(ProductImage image in Model.Images.Where(i=>i.isPrimary==null))
                                {
                                    <div class="position-relative">
                                    <img src="~/assets/images/website-images/@image.ImageURL" style="width:150px; height:150px" alt="Alternate Text" />
                                            <input asp-for="ImageIds" value="@image.Id" class="form-control" type="hidden">
                                            <button type="button"  style="right:5px; top:5px" class="cus-delete btn btn-danger position-absolute">X</button>
                                </div>
                                }
                            </div>
                            <div class="form-group">
                                <label for="Photos" method="post">Additional images </label>
                                <input asp-for="Photos" class="form-control" placeholder="">
                                <span asp-validation-for="Photos" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="Name" method="post">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="SKU" method="post">SKU</label>
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span asp-validation-for="SKU" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Price" method="post">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="CategoryId" method="post">Product</label>
                                <select class="form-control" asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))">
                                    <option selected disabled>Choose Category</option>

                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="TagIds" method="post">Tags</label>
                                <select class="form-control" asp-for="TagIds" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))">
                                </select>
                                <span asp-validation-for="TagIds" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="Description" method="post">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Create</button>
                            <a asp-action="Index" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>>
            </div>

        </div>
        <script>
            var btns = document.querySelectorAll(".cus-delete")
            for (let i=0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    btns[i].parentElement.remove()
                })
            }

        </script>

    </div>
   
